@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f113; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff18; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff33; 
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
